@page "/"
@using System.Globalization
@using GameStore.Frontend.Clients
@using GameStore.Frontend.Models

<PageTitle>Game Catalog</PageTitle>

@if (_games is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-bordered table-hover mt-3">
        <thead class="table-dark">
        <th>Id</th>
        <th>Name</th>
        <th>Genre</th>
        <th class="text-end">Price</th>
        <th>Release Date</th>
        <th></th>
        </thead>
        <tbody>
        @foreach (var game in _games)
        {
            <tr>
                <td>@game.Id</td>
                <td>@game.Name</td>
                <td>@game.Genre</td>
                <td class="text-end">@game.Price.ToString("C2", CultureInfo.GetCultureInfo("en-US"))</td>
                <td>@game.ReleaseDate.ToString("yyyy-MM-dd")</td>
                <td>

                </td>
            </tr>
        }
        </tbody>

    </table>
}

@code
{

    private GamesClient _client = new();


    private GameSummary[]? _games;


    protected override void OnInitialized()
    {
        _games = _client.GetGames();
    }

}
